<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Apps</title>
  </head>
  <body>
    <h1>Data Master Departemen</h1>
    <table>
      <tr>
        <td>No</td>
        <td>Code</td>
        <td>Name</td>
        <td>Type</td>
        <td>Created At</td>
        <td>Updated At</td>
      </tr>
      <tr>
        <td>1</td>
        <td>FAIT</td>
        <td>Finance Accounting & IT</td>
        <td>Departement</td>
        <td>2024-05-10</td>
        <td>2024-05-10</td>
      </tr>
    </table>
  </body>
</html>
